h1 {
    text-align: center;
    font-size: 40px;
}

section {
    padding: 15px;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    /*background: rgb(238, 231, 231);*/
}

body {
    background-color: rgb(167, 167, 162);
}

a {
    font-style: initial;
    display: inline-block;
    padding: 10px;
    background-color: rgb(29, 23, 49);
    color: white;
    box-shadow: 2px 2px 5px black;
    margin: auto;
}
