h1 {
    /*estilo especifico para o h1(titulo)*/
    color: rgb(245, 238, 238);
    text-shadow: 1px 1px 1px;
    text-align: center;
}

body {
    background-color: rgb(22, 117, 117);
}


h2 {
    /*estilo especifico para o h2(titulo)*/
    color: rgb(64, 121, 143);
    /*text-shadow: 2px 2px 2px #458c9743;*/
    text-align: center;
    
}

p {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px;
}

section { 
    background: white;
    border-radius: 10px; /*Arredondar as bordas*/
    padding: 15px;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.575); 
    /*
    deslocamento vertical;
    deslocamento horizontal;
    espaçamento.
    */
}

a {
    font-size: 20px;
    color: rgb(59, 170, 221);
}

a:hover {
    font-size: 25px;
    color: rgb(12, 99, 91);
}
