a {
    font-style: initial;
    display: inline-block;
    padding: 20px;
    background-color: rgb(29, 23, 49);
    color: white;
    box-shadow: 2px 2px 5px black;
    margin: auto;
}

#contador {
    font-style: initial;
    color: white;
    width: 120px;
    background-color: rgb(29, 23, 49);
    box-shadow: 2px 2px 5px black;
    padding: 10px;
    margin-left: 15px;
}

section {
    width: auto;
    margin: auto;
    font-style: italic;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

#paginaC {
    background-color: rgb(32, 30, 30);
}

h1 {
    font-style: initial;
}
