section {
    padding: 15px;
    width: 500px;
    margin: auto;
    margin-top: 50px;
}

body {
    background-color: rgb(219, 206, 131);
}

h1 {
    /*estilo especifico para o h1(titulo)*/
    color: rgb(250, 247, 247);
    text-shadow: 1px 1px 1px;
    text-align: center;
}

h2 {
    /*estilo especifico para o h2(titulo)*/
    color: rgb(230, 235, 236);
    /*text-shadow: 2px 2px 2px #458c9743;*/
    text-align: center;
    
}
