body {
    background-color: rgb(134, 128, 128);
}

fieldset {
    background-color: beige;
    box-shadow: 1px 1px 1px beige;
    border-radius: 15px;
    margin-top: 20px;
    text-align: center;
}

#legenda {
    font: italic;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
}

a {
    font-style: initial;
    display: inline-block;
    padding: 10px;
    background-color: rgb(29, 23, 49);
    color: white;
    box-shadow: 2px 2px 5px black;
    margin: auto;
}
